@import "@/styles/mixins";
@import "@/styles/variables";

.form {
    @include flex(row, space-between, center);
    gap: 40px;
    flex: 1 0 0;
    &-group {
        @include flex(column, center, start);
        color: $dark-color;
        &-label {
            text-align: center;
            @include font(16px, 400, 1.5);
        }
    }
}
