$primary-color: #f05697;
$dark-color: #0c131b;
$black-color: #000000;
$secondary-color: #898989;
$border-color: #0000001a;
$light-color: #f8f9fa;
$white-color: #ffffff;

$loading-background-color: #ffffffd2;

$lh-base: 1.5;
$lh-md: $lh-base;
$lh-sm: $lh-base;
