@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/typography";

.pageContent {
    @include flex(row, center, center);
}

.pageContentRight {
    @include flex(column, center, flex-start);
    @include border-radius(30px);
    flex: 1;
    min-height: 100vh;
    padding-right: 30px;
}
