@import "@/styles/variables";
@import "@/styles/mixins";

.header {
    padding: 18px 15px;
    @include flex(row, space-between, center);
    align-self: stretch;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1000;
}

.input {
    min-width: 200px;
    width: 360px;

    @include flex(row, unset, flex-start);
    align-self: stretch;
    gap: 10px;
}

.users {
    @include flex(row, center, center);
    gap: 40px;
    .icon {
        @include size(25px, 25px);
        color: $secondary-color;
        position: relative;
        // &::before {
        //     content: "3";
        //     position: absolute;
        //     top: -8px;
        //     right: -8px;
        //     @include size(20px, 20px);
        //     color: $white-color;
        //     background-color: $primary-color;
        //     @include border-radius(50%);
        //     @include flex(row, center, center);
        // }
    }

    &__information {
        @include flex(row, center, flex-start);
        gap: 5px;
        &--welcome {
            @include flex(column, center, flex-start);
            > label {
                @include font(12px, 400, 1.5);
                color: $secondary-color;
            }
            > b {
                @include font(16px, 600, 1.5);
                color: $dark-color;
            }
        }
    }
}
