@import "@/styles/variables";

.loading {
    width: 2.5em;
    height: 3em;
    border: 3px solid transparent;
    border-top-color: $primary-color;
    border-bottom-color: $primary-color;
    border-radius: 50%;
    animation: spinStretch 2s ease infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    &-background {
        background-color: $loading-background-color;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

@keyframes spinStretch {
    50% {
        transform: rotate(360deg) scale(0.4, 0.33);
        border-width: 8px;
    }
    100% {
        transform: rotate(720deg) scale(1, 1);
        border-width: 3px;
    }
}
// search Icon
.search-loading {
    width: 3.75em;
    transform-origin: center;
    animation: rotate 2s linear infinite;

    > circle {
        fill: none;
        stroke: #fc2f70;
        stroke-width: 2;
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dashoffset: -125px;
    }
}
