@import "@/styles/variables";
@import "@/styles/mixins";
@import "@/styles/typography";

.select-element {
    @extend .body-text;
    color: $dark-color;
    flex: 1 0 0;
    width: 100%;
    -webkit-appearance: none;
    position: relative;
    @include border-radius(10px);
    &.md {
        padding: 10px 16px;
        @include font(16px, 400, 1.5);
    }

    &.secondary {
        border: 1px solid $light-color;
        background: $light-color;
        &.invalid-error {
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }

    &.primary {
        border: 1px solid $secondary-color;
        background-color: $white-color;
        color: $secondary-color;
        &.invalid-error {
            color: $primary-color;
            border: 1px solid $primary-color;
        }
    }

    &-icon {
        position: absolute;
        right: 10%;
        top: 50%;
        color: $secondary-color;
        transform: translateX(-50%);
    }
}
